<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopSimpleClassic.Properties.Settings.ShopSimpleConnectionString"
            connectionString="Data Source=DESKTOP-GV0FTQH\CUONG_DB;Initial Catalog=ShopSimple;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>